body{
    font-family: 'Roboto', sans-serif;
    background-color: #0b051d;
}
.hero{
    background-image: url("../images/BG\ PC.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}
#sticky-parallax-header{
    font-size: 4rem;
}
h1,h2,p,img{
    animation: .3s fade linear both;
    animation-timeline: view();
    animation-range: cover 15% cover 50%;

}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@supports(animation-range: 0vh 90vh) {
    @keyframes sticky-parallax-header-move-and-size {
        from {
            background-position: 50% 0;
        }

        to {
            z-index: 999;
            background-position: 50% 100%;
            background-color: #0b1584;
            height: 10vh;
            font-size: 1.25em;
            padding-top: 1rem;
        }
    }

    #sticky-parallax-header {
        position: fixed;
        top: 0;
        animation: sticky-parallax-header-move-and-size linear forwards;
        animation-timeline: scroll();
        animation-range: 0vh 90vh;
    }

    body {
        padding-top: 100vh;
    }
}